py-applescript==1.0.3 
py2app==0.28.2
pyobjc-core==8.5; python_version >= "3.6"
pyobjc-framework-cocoa==8.5; python_version >= "3.6"
pyobjc-framework-coreml==8.5; python_version >= "3.6"
pyobjc-framework-quartz==8.5; python_version >= "3.6"
pyobjc-framework-vision==8.5; python_version >= "3.6"
pyperclip==1.8.2
rumps==0.3.0
wheel==0.37.1